<!doctype html>
<html>
<head>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.js'></script>
  <script type='text/javascript' src='emerj.js'></script>
  <style>
    body { font-family: sans-serif; color: hsl(0, 0%, 50%); margin: auto; width: 1024px; }
    ul.left-column, ul.right-column { float: left; list-style: none; margin: 0 30px 0 0; padding: 0; }
    li { padding: 10px 20px; width: 200px; background: hsl(0, 0%, 50%); color: white; }
  </style>
</head>

<body></body>

<script type='text/template' name=main>
  <h1>Emerj demo</h1>
  <div class='date'>{{ now }}</div>
  <div class='iteration'>{{ iterations }} iterations in <span class='seconds'>{{ seconds }}</span> seconds.</div>
  <ul class='left-column'>
    {% for string in random_strings %}
      <li>{{ string }}</li>
    {% endfor %}
  </ul>
  <ul class='right-column'>
    {% for string in random_strings|reverse %}
      <li>{{ string }}</li>
    {% endfor %}
  </ul>
</script>

<script type='text/javascript'>
  var template = nunjucks.compile(document.querySelector('[name=main]').innerHTML);
  var started = new Date;
  var strings = ("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod " +
                 "tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim " +
                 "veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea " +
                 "velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat " +
                 "cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id").split(' ');
  var iterations = 0;
  function iterate() {
    var random_strings = strings.map(function() { return strings[Math.floor(Math.random()*strings.length)]; })
    var data = {iterations: iterations+1, seconds: ((new Date) - started)/1000, now: new Date, random_strings: random_strings};
    emerj.merge(document.body, template.render(data));
    if (iterations+1 < 100) {
      requestAnimationFrame(iterate); // Need to execute asyncronously, otherwise we never give the browser a chance to update.
    } else {
      console.log("Rendered "+(iterations+1)+" times in "+(((new Date) - started)/1000).toFixed(2)+" seconds");
    }
    iterations++;
  }
  iterate();
</script>
</html>